# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Build / packaging outputs
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/
.venv/

# IDEs
.vscode/
.idea/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db.env

# logs 
src/ad_causal_doubleml/double_ml/logs
src/ad_causal_doubleml/feature_engineering/logs